:host {
    cursor: pointer;
    scroll-snap-stop: normal;
    scroll-snap-align: center;
    display: flex;
    border: 1px solid transparent;

    &.active {
        border: 1px solid red;
    }
    &:first-of-type {
        margin-left: 5px;
    }
    &:last-of-type {
        margin-right: 5px;
    }

    * {
        user-select: none;
    }
}

.card {
    background: #fff;
    padding: 10px;
    width: 325px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1 1 0px;

    .image-and-info {
        display: inline-flex;
        gap: 10px;
        width: 100%;
        flex: 1;
        white-space: break-spaces;

        .title {
            font-weight: 600;
            font-size: 18px;
        }

        .distance {
            color: #868686;
        }

        .info {
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 5px;

            .price-and-text {
                margin-top: auto;

                .price {
                    font-size: 24px;
                    font-weight: 600;
                }

                .text {
                    color: #ccc;
                    font-size: 13px;
                }
            }
        }

        img {
            height: 130px;
            width: 50%;
        }
    }

    .book-now {
        width: 100%;
        background-color: #ffa600;
        color: #fff;

        &:hover {
            background-color: #8d5c00;
        }
    }
}

@media screen and (max-width: 400px) {
    .card {
        width: calc(100vw - 80px);
    }
}