<app-header></app-header>

<div class="content">
    <div class="map-wrapper" *ngIf="hotels | async; let hotels">
        <google-map width="100%" height="{{mapHeight}}" [options]="options">
            <map-marker
            #markerElement
            *ngFor="let hotel of hotels"
            [position]="hotel.position"
            [title]="hotel.title"
            [options]="getMarkerOptions(hotel)"
            (mapClick)="onHotelClick(hotel)"
            >
            </map-marker>

            <map-info-window>{{ infoContent }}</map-info-window>
        </google-map>

        <div class="cards-wrapper" #hotelCardsWrapper>
        <app-hotel-card *ngFor="let hotel of hotels"
            #hotelCard
            [hotel]="hotel"
            (click)="onHotelClick(hotel)"
            (action)="handleCardAction($event)"
            [ngClass]="{'active': activeHotel === hotel.id}"></app-hotel-card>
        </div>
    </div>
</div>
